<!DOCTYPE html>
<html>
<body>
    <form  action="/" method="post">
        <input type="text" name="name" placeholder="name" required>
        <input type="text" name="email" placeholder="haa" required>
        <button type="submit" name="button">Login</button>
    </form>
</body>

</html>